export AWS_ACCESS_KEY_ID=xxxxx
export AWS_SECRET_ACCESS_KEY=yyyy
export PRODUCTION_BUCKET="本番のS3バケット"
export STAGING_BUCKET="ステージングのS3バケット"
export DEFAULT_BUCKET="devのS3バケット"
export TEST_BUCKET="インテグレーションテストのS3バケット"
export PRODUCTION_DISTRIBUTION_ID="本番のdistribution_id"
export STAGING_DISTRIBUTION_ID="ステージングのdistribution_id"
export DEFAULT_DISTRIBUTION_ID="devのdistribution_id"